.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
  /* padding-top: 100px; */
  position: relative;
  height: 100vh;
}

.wut {
  width: 100%;
  height: 100%;
}
.wut .CodeMirror {
  height: 100%;
}

#controlButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border: none;
  padding: 1rem 2rem;
}
